form#login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    box-shadow: 3px 3px 3px 3px #4e4d4d;
    width: 40%;
    padding: 100px;
    border-radius: 5px;
    margin-top: 20px;
}

.text{
    border-radius: 5px;
    padding: 3px;
    font-size: 18px;
    text-align: center;
    width: 70%;
    margin-bottom: 12px;
   
}
.text:hover{
    border-color:#E7D143 ;
}
input[type=submit]#enviar{
    width: 30%;
    background-color: #E7D143;
    border-radius: 5px;
    border: none;
    padding: 3px;
}
input[type=submit]#enviar:hover{
    background-color:#AC6238 ;
}
header{
    display: flex;
    align-items: center;
    /* background-color:#E7D143; */
    flex-wrap: wrap;
    
}
header img{
    margin: 10px;
    margin-left: 20px;
    
}
h1{
    text-transform: uppercase;
    margin: auto;
    font-family: 'Mulish', sans-serif;
}

#logout{
    position: relative;
    left:50%;
}

@media screen and (max-width: 1000px){
    header{
        flex-direction: column;
    }
    form#login{
        width: 50%;
        padding: 50px;
    }
    .text{
        width: 80%;
    }
    input[type=submit]#enviar{
        padding: 2px;
        width: 40%;
    }
}

