form#login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    box-shadow: 3px 3px 3px 3px #4e4d4d;
    width: 40%;
    padding: 100px;
    border-radius: 5px;
    margin-top: 20px;
}

.text{
    border-radius: 5px;
    padding: 3px;
    font-size: 18px;
    text-align: center;
    width: 70%;
    margin-bottom: 12px;
   
}
.text:hover{
    border-color:#E7D143 ;
}
input[type=submit]#pass{
    width: 30%;
    background-color: #E7D143;
    border-radius: 5px;
    border: none;
    padding: 3px;
}
input[type=submit]#pass:hover{
    background-color:#AC6238 ;
}
header{
    display: flex;
    align-items: center;
    /* background-color:#E7D143; */

}
header img{
    margin: 10px;
    margin-left: 20px;
}
h1{
    position: relative;
    text-transform: uppercase;
    text-align: center;
    left: 25%;
    font-family: 'Mulish', sans-serif;
}

#logout{
    position: relative;
    left:50%;
}
